.bar{
    background-color: rgb(46, 46, 46);
    display: block;
    height: 6x;
    padding: 2px;
    /* border: 1px solid rgba(0,0,0,0.3); */
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s;
}
.bar span{
    height: 6px;
    float: left;
    background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
}
.skill{
    border-radius: 10px;
    width: 90%;
    animation: skill .3s;
}
.profile{
    z-index: 1;
    position: absolute;
    top: 28%;
    width: 40vw;
    margin-left: 3.5rem; 
    margin-right: 3rem;
    color: white;
}
.profile>p{
    color: white;
    font-weight: 700;
}
.from{
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.greet{
    overflow-y: hidden;
}

.details{
    color: white;
    position: absolute;
    overflow-y: hidden;
    font-weight: 700;
    right: 10% ;
    top: 25%;
}

.web{
    background-color: aliceblue;
    /* padding: 3rem; */
    /* border-radius: 50%; */
    /* width: 7vw; */
    /* height: 7vw; */
}
.web>span{
    color: black;
}


.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    position: relative;
    top: 15px;
    /* overflow-y: hidden; */
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
  
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }