.profile{
    z-index:20;
    /* margin-left: 3.5rem;  */
    /* margin-right: 3rem; */
    color: white;
}
.profile>p{
    color: white;
    font-weight: 700;
}
.greet{
    overflow-y: hidden;
}
.meetya{
  background: -webkit-linear-gradient(45deg, #00f260 0%, #0575e6 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.web{
    background-color: aliceblue;
    /* padding: 3rem; */
    /* border-radius: 50%; */
    /* width: 7vw; */
    /* height: 7vw; */
}
.web>span{
    color: black;
}


.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    /* overflow-y: hidden; */
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
  
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }