#logo{
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  cursor: pointer;
}

#navMenu{
  width: 45vw;
  justify-content: space-around;
  font-weight: 600;
  font-size: 17px;
}

#navMenu>p{
  cursor: pointer;
}

.navbar{
  width:100vw;
  height:4.5rem;
  position:fixed;
  top:0;
  color: white;
  align-items:center;
  z-index: 100;
  background-color: transparent;
  justify-content:space-between;
}

.navbar.scroll{
  z-index: 100;
  background-color: #f8f8f8;
  color: black;
}


/* Home Page */
.home{
  /* border: 2px solid white; */

}
.mainContent-Home{
  /* border: 2px solid white; */
}
.listSkills{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  height: 7rem;
  align-items: center;
}
li{
  list-style: none;
}
.listSkills>li:nth-child(1){
  color: green;
}
.listSkills>li:nth-child(2){
  color: white;
}
.listSkills>li:nth-child(3){
  color: #61DBFB;
}
.listSkills>li:nth-child(4){
  color:#8bc34a;
}
.motion{
  padding: 7;
}

/* Aboutme */
.stroke{
  -webkit-text-stroke-width: .5px;
  /* -webkit-text-stroke-color: green; */
  /* -webkit-text-stroke-blur: 3px; */
}

/* Skills */

.skillsTitle{
 padding-top: 1rem;
 color: white;
}
.frontendTitle,.backendTitle{
  color:white;
}
.frontendSkills{
  align-items: center;
}
.frontendSkills>li{
  list-style: none;
  margin: auto;
}
.frontendSkills>li:nth-child(1){
  color: #e96228;
}
.frontendSkills>li:nth-child(2){
  color: #2862e8;
}
.frontendSkills>li:nth-child(3){
  color: #f0d91e;
}
.frontendSkills>li:nth-child(4){
  color:#61DBFB;
}
.frontendSkills>li:nth-child(5){
  color:#29b9ad;
}
.frontendSkills>li:nth-child(6){
  color:#29a9f4;
}
.frontendSkills>li:nth-child(7){
  color:#7248b6;
}
.frontendSkills>li:nth-child(8){
  color:#e85824;
}


/* backendSkills */
.backendSkills{
  align-items: center;
}
.backendSkills>li{
  list-style: none;
  margin: auto;
}
.backendSkills>li:nth-child(1){
  color: green;
}
.backendSkills>li:nth-child(2){
  color: white;
}
.backendSkills>li:nth-child(3){
  color: #7fc629;
}
.backendSkills>li:nth-child(4){
  color:#8d4b91;
}
.backendSkills>li:nth-child(5){
  color:#c60100;
}
.backendSkills>li:nth-child(6){
  color:white;
}
.backendSkills>li:nth-child(7){
  color:#7248b6;
}
.backendSkills>li:nth-child(8){
  color:#e85824;
}


/* projects */

.button_show{
  scale: 2;
}
.button_git{
  scale: 2;
}

.contactIcons{
  display: flex;
  justify-content: space-between;
  height: 7rem;
  margin: auto;
  align-items: center;
}
label{
  color:white;
}
.inputs{
  height: 40px;
  border-radius: 7px;
}
.inputst{
  height: 80px;
  border-radius: 7px;
}