*{
  overflow-x: hidden;
}

#logo{
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  cursor: pointer;
  padding-left: 4rem;
}

#navMenu{
  display: flex;
  width: 45vw;
  justify-content: space-around;
  font-weight: 600;
  font-size: 17px;
}

#navMenu>p{
  cursor: pointer;
}

.navbar{
  width:100vw;
  height:4.5rem;
  position:fixed;
  top:0;
  color: white;
  align-items:center;
  z-index: 100;
  background-color: transparent;
  justify-content:space-between;
  transition: 0.5s ease-in-out;
}

.navbar.scroll{
  z-index: 100;
  background-color: #f8f8f8;
  color: black;
}


/* Home Page */
.mainContent-Home{
  border: 1p solid white;
}

.smallshapes{
  overflow-y: hidden;
  /* opacity: 0.7; */
}
.shapes{
  opacity: 1;
}